services:
  #eftest:
  #  image: ${DOCKER_REGISTRY-}eftest
  #  build:
  #    context: TestingCSharp
  #    dockerfile: ../EFTest/Dockerfile

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "YourStrong!Pass123"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql

volumes:
  sqlserver_data:
